*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html{
    min-width: 360px;
}

body{
    background: linear-gradient(45deg, rgb(0, 0, 0), black, orange, black);
    background-size: 200% 200%;
    position: relative;
    animation: cambiar 10s ease infinite;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.navbar a{
    text-decoration: none;
}

.navbar h2{
    color:#ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navbar ul li{
    list-style: none;

}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.5s all ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar ul li:last-child a {
    margin: 1px;
}

.navbar li a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #EDAA18;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .4s ease-in-out;
}



.navbar li a:hover::before{
    transform-origin: center;
    transform: scaleX(1.2);
}

.hire-btn{
    position: relative;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background: #fb8c00;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
}

.hire-btn::before,
.hire-btn::after{
    content: "";
    position: absolute;
    width: 13.5em;
    height: 12.5em;
    transform: translateX(-50%);
    transition: top 1s ease-in-out;
    border-radius: 50%;
    z-index: -1;
}
.hire-btn::before{
    top: -11em;
    left: 50%;
    background: #ffa513;
    animation: wave 4s ease-in infinite;
}

.hire-btn::after{
    top: -11em;
    left: 55%;
    background: #ffb742;
    animation: wave 3s ease-in infinite;
}

@keyframes wave{

    0%{
        transform: translateX(-50%) rotate(0);
    }
    100%{
        transform: translateX(-50%) rotate(360deg);
    }
}

.hire-btn:hover:before,
.hire-btn:hover::after{
    top: -20em;
}

.hire-btn:hover{
    background: #fb8c00;
}


footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 300px;
    bottom: 0;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #ffb742;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -19%;
    left: 15%;
}

footer .start h1{
    font-size: 24px;
}

footer .start a{
    text-decoration: none;
}

footer .start p{
    font-size: 18px;
    width: 30%;
    text-align: center;
}

footer .start p span{
    font-size: 30px;

}

footer .start button{
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    padding: 13px 20px;
    border-radius: 100px;
    transition: all 0.3s ease; 
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

footer .start button:hover{
    background-color: #fb8c00;
    border-color: #fb8c00;
   
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols h1{
    font-size: 26px;
}

footer .cols .about-cols{
    flex: 3;
}

footer .cols h1{
    color: #ffb742;
    margin-bottom: 20px;
    margin-top: 30px;
}

footer .cols .about-cols p{
    color: #ffffff;
    font-size: 16px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col a{
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: #ffb742;
}
footer .cols .social-col{
    flex: 3;
}
footer .cols .social-col .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .cols .social-col .container a box-icon{
    width: 40px;
    height: 40px;
    display: flex;
    gap: 20px;
    border-radius: 25%;
    transition: all .6s ease;
}

footer .cols .social-col box-icon:hover{
    background-color: #ffa513;
}

footer .cols .contact-col{
    flex: 3;
}

footer .cols .contact-col .email{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    color: white;
}

footer .cols .contact-col .email i{
    font-size: 40px;
}

footer .cols .contact-col .email p{
    font-size: 16px;
}

@media screen and (max-width: 1100px) {

    footer{
        margin-top: 150px;
    }

    footer .start{
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .start h2{
        font-size: 22px;
    }

    footer .start p{
        font-size: 16px;
    }

    footer .cols{

        flex-wrap: wrap;
    }

    footer .cols .about-cols{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .social-col{
        flex-basis: 50%;
    }

    footer .cols .contact-col{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 900px){

    .navbar{
        justify-content: center;
    }

    .navbar .botones{
        display: none;
    }

    .navbar h2{
        display: none;
    }
}

@media screen  and (max-width: 780px) {

    .navbar ul li a{
        font-size: 18px;
    }

    footer .start h2{
        font-size: 20px;
    }

    footer .start p{
        font-size: 14px;
    }
}

@media screen and (max-width:650px) {

    .navbar{
        justify-content: center;
    }

    .navbar ul{
        gap: 15px;
        margin-left: -35px;
    }

    footer .start{
        top: -8%;
    }


    footer .start p{
        display: none !important;       
    }

    

    footer .cols .about-cols{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .social-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .contact-col{
        flex-basis: 100%;
    }

    
}