*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    min-width: 360px;
}

body{
    background: linear-gradient(45deg, rgb(0, 0, 0), black, orange, black);
    background-size: 150% 200%;
    position: relative;
    animation: cambiar 10s ease infinite;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;

}

.navbar h2{
    color:#ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 25px;
    transition: 0.5s all ease;
    position: relative;
}

.navbar li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #EDAA18;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .4s ease-in-out;
}

.navbar li a:hover{
    color: #EDAA18;
}

.navbar li a:hover::before{
    transform-origin: center;
    transform: scaleX(1.2);
}

.navbar ul li:last-child a {
    margin: 0px;
}

.hire-btn{
    position: relative;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background: #fb8c00;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
}

.hire-btn::before,
.hire-btn::after{
    content: "";
    position: absolute;
    width: 13.5em;
    height: 12.5em;
    transform: translateX(-50%);
    transition: top 1s ease-in-out;
    border-radius: 50%;
    z-index: -1;
}
.hire-btn::before{
    top: -11em;
    left: 50%;
    background: #ffa513;
    animation: wave 4s ease-in infinite;
}

.hire-btn::after{
    top: -11em;
    left: 55%;
    background: #ffb742;
    animation: wave 3s ease-in infinite;
}

@keyframes wave{

    0%{
        transform: translateX(-50%) rotate(0);
    }
    100%{
        transform: translateX(-50%) rotate(360deg);
    }
}

.hire-btn:hover:before,
.hire-btn:hover::after{
    top: -20em;
}

.hire-btn:hover{
    background: #fb8c00;
}

.container{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    max-width: 1080px;
    margin-top: 250px !important;
    margin-bottom: 200px !important;
    margin: 0 auto;
    border-radius: 10px;
  
}

.container .imagen{
    display: flex;
    width: 50%;
    
}
.container .imagen img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}


.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.7);
    margin: 5%;
    padding: 30px;
    border-radius: 10px;
}

.formulario label{
    display: none;
}

.formulario h3{
    color: #ffb742;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario input{
    width: 300px;
    padding: 1em;
    border-radius: 10px;
}

.formulario textarea{
    width: 300px;
    border-radius: 10px;
}

.formulario input::placeholder{
    padding-left: 10px;
}
.formulario textarea::placeholder{
    padding-left: 10px;
}

.formulario button{
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 18px;
    border: 1px solid black;
    background-color: #ffb742;
    font-size: 16px;
    transition: .5s ease-in-out;
}

.formulario button:hover{
    background-color: #fb8c00;

}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #ffb742;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -19%;
    left: 15%;
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-cols{
    flex: 3;
}

footer .cols h3{
    color: #ffb742;
    margin-bottom: 20px;
    margin-top: 30px;
}

footer .cols .about-cols p{
    color: #ffffff;
    font-size: 16px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: #ffb742;
}

footer .cols .contact-col{
    flex: 3;
}

footer .cols .contact-col .email{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    color: white;
}

footer .cols .contact-col .email i{
    font-size: 40px;
}

footer .cols .contact-col .email p{
    font-size: 16px;
}

@media  screen and (max-width: 1150px) {
    .container .imagen{
        display: none;
    }

    .container{
        display: flex;
        justify-content: center;
        width: 90vw;
    }

    .container .formulario{
        width: 90%;
    }

    footer{
        margin-top: 150px;
    }

    footer .start{
        top: -10%;
    }

    footer .cols{

        flex-wrap: wrap;
    }

    footer .cols .about-cols{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .contact-col{
        flex-basis: 50%;
    }
}

@media screen  and (max-width: 780px) {

    .navbar{
        justify-content: center;
    }

    .navbar ul li a{
        font-size: 18px;
    }

    .navbar h2{
        display: none;
    }

    .navbar button{
        display: none;
    }

}