.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main box-icon{
    width: 60vw;
    height: 60vh;
}

.main p{
    font-size: 3em;
    color: #fff;
    text-align: center;
}