*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



body{
    background: linear-gradient(45deg, rgb(0, 0, 0), black, orange, black);
    background-size: 200% 200%;
    position: relative;
    animation: cambiar 10s ease infinite;
}

.switch{
    display: inline-block;
    height: 34px;
    width: 60px;
    
}

.switch input{
    opacity: 1;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 14px;
    background-image: url(images/Bandera_de_España_\(sin_escudo\).svg.png);
    background-size: contain;
    transition: 0.3s;
    border-radius: 34px;
    border: rgb(0, 0, 0) solid 1px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    top: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider{
    background-image: url(images/istockphoto-479199262-612x612.jpg);
    background-size: contain;
}

input:checked + .slider:before{
    transform: translateX(16px);
}

#english-text{
    display: none;
}

.english-mode #esp-text{
    display: none;
}

.english-mode #english-text{
    display: block;
}



@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;

}

.navbar h2{
    color:#ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    list-style: none;

}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: 0.5s all ease;
}

.navbar ul li a:hover{
    color: #ffb742;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.navbar ul li:last-child a {
    margin: 0px;
}





.hire-btn{
    position: relative;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background: #fb8c00;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
}

.hire-btn::before,
.hire-btn::after{
    content: "";
    position: absolute;
    width: 13.5em;
    height: 12.5em;
    transform: translateX(-50%);
    transition: top 1s ease-in-out;
    border-radius: 50%;
    z-index: -1;
}
.hire-btn::before{
    top: -11em;
    left: 50%;
    background: #ffa513;
    animation: wave 4s ease-in infinite;
}

.hire-btn::after{
    top: -11em;
    left: 55%;
    background: #ffb742;
    animation: wave 3s ease-in infinite;
}

@keyframes wave{

    0%{
        transform: translateX(-50%) rotate(0);
    }
    100%{
        transform: translateX(-50%) rotate(360deg);
    }
}

.hire-btn:hover:before,
.hire-btn:hover::after{
    top: -20em;
}

.hire-btn:hover{
    background: #fb8c00;
}

.main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px !important;
}

.main h4{
    font-size: 32px;
    color: #fff;
    font-weight: 600;   
}

.main span{
    color: #1c1c1c;

}

.main p.title{
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;    
}

.main p.subtitle{
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;

}

.main img{
    width: 500px;
    border-radius: 50%;
    height: 500px;
    margin-top: 100px;
}

.guarantee{
    margin-top: 70px;
    padding: 0 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
    width: 80%;
    height: 200px;
}

.guarantee .item{
    background: #292b2e ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 30px;
    border-radius: 10px;
    border: 3px solid transparent;
    cursor:pointer;
    transition: all 0.3s ease;
}

.guarantee .item:hover{
    border-color: #ffb742;
}

.guarantee .icon{
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.guarantee .item:hover .icon{
    background-color: #ffb742;
}

.guarantee .item .icon{
    font-size: 30px;
}

.guarantee .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarantee .item .info h3{
    color: #ffb742;
    font-size: 20px;
}

.guarantee .item .info p{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.guarantee .item > box-icon{
    color: #fff;
    font-size: 30px;
    transition: color 0.3s ease;
}

.guarantee .item:hover > box-icon{
    color: #ffb742;
}

.separator{
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-block;
    color: #ffb742;
    border-radius: 12px;
}

section{
    background: rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;

    
}

.about img{
    width: 280px;
    height: 500px;

}

.about .info h3{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p{
    color: #fff;
    font-size: 14px;

}

.about .info button{
    margin-top: 30px;
}

.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    height: 400px;
}

.skills .left{
    width: 680px;
}

.skills .left .info h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p{
    color: #fff;
    font-size: 14px;
}

.skills .left button{
    margin-top: 30px;
}

.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i{
    color: #fff;
    font-size: 40px;
}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #ffb742;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p{
    font-size: 13px;
    width: 35%;
    text-align: center;
}

footer .start p span{
    font-size: 30px;
}

footer .start button{
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease; 
}

footer .start button:hover{
    background-color: #fb8c00;
    border-color: #fb8c00;
   
}

footer .cols{
    display: flex;
    align-items: start;


}

footer .cols .about-cols{
    flex: 3;
}

footer .cols .about-cols h3{
    color: #ffb742;
    margin-bottom: 20px;
}

footer .cols .about-cols p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: #ffb742;
}

footer .cols .contact-col{
    flex: 3;
}

footer .cols .contact-col h4{
    color: #fff;
}

footer .cols .contact-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .contact-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400px;
    font-size: 13px;
}

footer .cols .contact-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #ffb742;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .contact-col form button:hover{
    background-color: #fb8c00;
}

footer .cols .contact-col form button i{
    font-size: 26px;
}



@media screen and (max-width: 1100px) {
    .main{
        margin-top: -100px ;
    }

    .main img{
        width: 400px;
        height: 400px;
    } 
    .guarantee{
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 0px;
    }

    .guarantee .item{
        flex-basis: 49%;
    }

    .skills{
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left{
        width: 500px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }

    .skills .left .info p{
        font-size: 12px;
    }

    footer{
        margin-top: 150px;
    }

    footer .start{
        width: 90%;
        left: 5%;
        top: -20%;

    }

    footer .cols{

        flex-wrap: wrap;
    }

    footer .cols .about-cols{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .contact-col{
        flex-basis: 50%;
    }
}

@media screen  and (max-width: 780px) {

    .navbar ul li a{
        font-size: 15px;
    }

    .navbar button{
        display: none;
    }

    .main{
        margin-bottom: 50px;
    }

    .main h4{
        font-size: 24px;
    }

    .main p.title{
        font-size: 36px;
    }

    .main p.subtitle{
        font-size: 14px;
    }

    .main img{
        width: 350px;
        height: 350px;
    }

    .guarantee .item{
        flex-basis: 100%;
    }

    .about{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:650px) {

    .navbar{
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

    .main h4{
        font-size: 22px;
    }

    .main p.title{
        font-size: 32px;
    }

    .main p.subtitle{
        font-size: 12px;
    }

    .main img{
        width: 300px;
        height: 300px;
    }

    .guarantee .item .info p{
        font-size: 14px;
    }


    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right{
        justify-content: space-between;
    }


    footer .start{
        top: -8%;
    }


    footer .start p{
        display: none !important;       
    }

    

    footer .cols .about-cols{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .contact-col{
        flex-basis: 100%;
    }

    
}







