*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



body{
    background: linear-gradient(45deg, rgb(0, 0, 0), black, orange, black);
    background-size: 150% 200%;
    position: relative;
    animation: cambiar 10s ease infinite;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0
;

}

.navbar h2{
    color:#ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: 0.5s all ease;
}

.navbar ul li:hover a{
    color: #ffb742;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.navbar ul li:last-child a {
    margin: 0px;
}

.hire-btn{
    position: relative;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background: #fb8c00;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
}

.hire-btn::before,
.hire-btn::after{
    content: "";
    position: absolute;
    width: 13.5em;
    height: 12.5em;
    transform: translateX(-50%);
    transition: top 1s ease-in-out;
    border-radius: 50%;
    z-index: -1;
}
.hire-btn::before{
    top: -11em;
    left: 50%;
    background: #ffa513;
    animation: wave 4s ease-in infinite;
}

.hire-btn::after{
    top: -11em;
    left: 55%;
    background: #ffb742;
    animation: wave 3s ease-in infinite;
}

@keyframes wave{

    0%{
        transform: translateX(-50%) rotate(0);
    }
    100%{
        transform: translateX(-50%) rotate(360deg);
    }
}

.hire-btn:hover:before,
.hire-btn:hover::after{
    top: -20em;
}

.hire-btn:hover{
    background: #fb8c00;
}

.container{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    max-width: 1080px;
    margin-top: 250px !important;
    margin-bottom: 200px !important;
    margin: 0 auto;
    border-radius: 10px;
  
}

.container .imagen{
    display: flex;
    width: 50%;
    
}
.container .imagen img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}


.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.7);
    margin: 5%;
    padding: 30px;
    border-radius: 10px;
}

.formulario h3{
    color: #ffb742;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario input{
    width: 80%;
    padding: 1em;
    border-radius: 10px;
}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;

}
footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #ffb742;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start .whatsapp a i{
    color: #1c1c1c;
    font-size: 60px;
    transition: 0.5s all ease ;
}

footer .start .whatsapp a i:hover{
    color: #ffffff;
}

footer .start .email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .start .email i{
    color: #1c1c1c;
    font-size: 40px;
}

footer .start .email p{
    font-size: 16px;
    
    color: #1c1c1c;
}



footer .cols{
    display: flex;
    align-items: start;
    margin-top: 20px;

}

footer .cols .about-cols{
    flex: 3;
}

footer .cols .about-cols h3{
    color: #ffb742;
    margin-bottom: 20px;
}

footer .cols .about-cols p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: #ffb742;
}

footer .cols .contact-col{
    flex: 3;
}

footer .cols .contact-col h4{
    color: #fff;
}

footer .cols .contact-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .contact-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400px;
    font-size: 13px;
}

footer .cols .contact-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #ffb742;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .contact-col form button:hover{
    background-color: #fb8c00;
}

footer .cols .contact-col form button i{
    font-size: 26px;
}