.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 400px;
    width: 80%;
}

.proyecto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    transition: all .8s;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.85);
  }

  .proyecto:hover{
    transform: scale(1.1);
  }
  
  .proyecto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .proyecto::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .proyecto img{
    width: 619px;
    height: 350px;
    border-radius: 10px;
  }
  
  .proyecto b {
    position: absolute;
    inset: 0px;
    z-index: 2;
    border-radius: 10px;
  }

  .proyecto:hover b{
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  .proyecto .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.8s;
  }
  
  .proyecto:hover .content {
    transform: scale(1);
    bottom: 50px;
  }
  
  .content .title {
    position: relative;
    color: #ffb742;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
  }
  
  .content .title span {
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
  }
  
  .content .sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .sci li {
    list-style: none;
  }
  
  .sci li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    fill: currentColor;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.5s;
  }
  
  .sci li a:hover {
    fill: currentColor;
    background-color: #fb8c00;
    border-radius: 10px;
  }